* {
    margin: 0px;
}

.body {
    background-color: #FCF5EB;
}

nav {
    
    background-color: #FCF5EB;
}

.navmain {
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.815);
    width: 100%;
    height: 70px;
    padding-top: 13px;
    justify-content: space-around;
    z-index: 2;
}

.navimage {
    margin-top: 10px;
    margin-right: 270px;
}



.imglink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: green;
    transition: width 0.4s ease-in-out 0.2s;
}

.imglink:hover::after {
    width: 69%;
}



.navlink {
    position: relative;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow: hidden;
    top: 19px;
    right: 20%;
}

.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: green;
    transition: width 0.4s ease-in-out 0.2s;
}

.navlink:hover::after {
    width: 100%;
}

.navlinkcontainer {
    display: flex;
    gap: 50px;
}

.button {
    height: 55px;
    width: 160px;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 12px 24px;
    background-color: #000;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 1.5px solid black;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #25D366;
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
}

.button::before {
    color: rgb(255, 255, 255);
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: black;
    border-radius: 50%;
    transform: scale(1) translateY(67px);
    transition: transform 1.2s cubic-bezier(.66, .00, .34, 1.00);
    z-index: 0;
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    color: white;
    transition: color 1.2s ease-out 0.5s;
}

.button span {
    position: relative;
    z-index: 1;
}



.link:hover::after {
    width: 70%;
}

.link {
    display: flex;
    align-items: center;
}

.a {
    color: #000;
    text-decoration: none;
}

.mainbackimage {
    padding-bottom: 180px;
    background-image: url(images/download\ 1.png);
    background-position: center;
    height: 600px;
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;
    top: 125px;
    border-radius: 60px;

}

.div {
    position: absolute;
}

.img1 {

    left: 900px;
    top: 350px;
}

.emoji {
    left: 900px;
    top: 565px;
}

.img2 {
    left: 900px;
    top: 290px;
}

.img3 {
    left: 900px;
    top: 85px;
}

.emoji1 {
    left: 900px;
    top: 110px;
}

.img4 {
    right: 250px;
    top: 115px;
}

.img5 {
    right: 260px;
    bottom: 115px;
}

.h {
    left: 250px;
    top: 160px;
    font-size: 80px;
    letter-spacing: -0.04em;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: white;
}
.p{
    left: 250px;
    top: 360px;
    color: white;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.b1{
    left: 250px;
    top: 480px;
}